/AulaRunnable$1.class
/AulaRunnable$2.class
/AulaRunnable.class
/AulaThread.class
/ExecutarTela.class
/TelaThread.class
/AulaRunnable$3.class
/ImplemetacaoFilaThread.class
/TelaThread$1.class
/TelaThread$2.class
/TelaThread$3.class
